<!-- about -->
<div class="about video-container" id="about">
    <video autoplay muted loop playsinline>
        <source src="assets/videos/file2.mp4" type="video/mp4">
        Your browser does not support the video tag.
    </video>
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <div class="content my-5" >
                    <div class="title-section-left text-center mt-5 ">
                        <!-- look bottom -->
                        <h3 class="about-h3" [class.show]="isVisible">Know More <span>About Us</span></h3>
                        <!-- <h6>We are professionals</h6> -->
                    </div>
  <!-- look bottom -->
                    <p class="about-p " [class.show]="isVisible">At <strong>EfficaTech</strong>, we are passionate about bringing innovative digital solutions to life.
                        With a talented team of professionals, we specialize in transforming ideas into high-impact,
                        tangible outcomes. Whether you're an individual client, a startup, a mid-sized business,
                        or a large enterprise, we tailor our services to meet your unique needs.
                        Our commitment to excellence in product management, UI/UX design,
                        front-end development, CMS solutions, and machine learning sets us apart.
                        With a proven track record and a client-centric approach,
                        we ensure that your vision becomes reality—delivered on time,
                        with the highest standards of quality and precision.
                    </p> 
                </div>
            </div>
            <div class="container2 d-flex flex-column align-items-center">
                <div class="coding-language">
                    <!-- look bottom -->
                    <div class="line-bg" [class.show]="isVisible"></div>
                    <span >
                        <img src="assets/img/image2.png" alt="">
                    </span>
                    <span>
                        <img src="assets/img/image3.png" alt="">
                    </span>
                    <span>
                        <img src="assets/img/image4.png" alt="">
                    </span>
                </div>
                <div class="coding-language my-5 justify-content-evenly">
                    <!-- look bottom -->
                    <div class="line-bg2" [class.show]="isVisible" style="width: 28%;"></div>
                    <span >
                        <div class="line-back" >
                            <!-- look bottom -->
                          <div class="line" [class.show]="isVisible"></div>
                        </div>
                        <img src="assets/img/image5.png" alt="">
                    </span>
                    <div class="line-back" >
                        <!-- look bottom -->
                        <div class="line line2" [class.show]="isVisible" style="top:61px; height:38%;"></div>
                    </div>
                    <span>
                        <div class="line-back" >
                            <!-- look bottom -->
                            <div class="line line-r" [class.show]="isVisible"></div>
                        </div>
                        <img src="assets/img/image6.png" alt="">
                    </span>
                </div>
                <span class="text-center">
                    <img src="assets/img/about.png" alt="" style="width:90%;">
                </span>
            </div>
            <div class="container about-list my-5 mx-auto "
            style="width: 85%;">
                <ul>
                    <li><i class="fa fa-check"></i> Highly skilled and experienced professionals</li>
                    <li><i class="fa fa-check"></i> Competitive pricing without compromising on quality</li>
                    <li><i class="fa fa-check"></i> Proven track record with successful project delivery</li>
                    <li><i class="fa fa-check"></i> Passionate and dedicated to every project</li>
                    <li><i class="fa fa-check"></i> Strategic planning for optimal results</li>
                    <li><i class="fa fa-check"></i> Innovative and solution-driven approach to every challenge</li>

                </ul>
            </div>
            
        </div>
    </div>
</div>
<!-- end about -->