<footer class="footer py-4">
    <div class="container ">
        <hr class="">
        <div class="row pt-4">
            <div class="col-md-3">
                <h1>EfficaTech</h1>
            </div>
            <div class="col-md-3 d-flex flex-column align-items-start">
                <h5>About Us</h5>
                <p>EfficaTech specializes in digital solutions,
                 providing top-notch web development, UI/UX design, and project management
                .</p>
            </div>
            <div class="col-md-3 d-flex flex-column align-items-start">
                <h5>Quick Links</h5>
                <ul class="list-unstyled">
                    <li><a href="#work" class="">Our Work</a></li>
                    <li><a href="#services" class="">Call us +20 11 04573760</a></li>
                    <li><a href="#contact" class="">infomysite.com</a></li>
                </ul>
            </div>
            <div class="col-md-3">
                <h5>Contact Us</h5>
                <p>Email: contactefficatech.com</p>
                <p>Phone: +123 456 7890</p>
                <div>
                    <a href="#" class=" me-2"><i class="fab fa-facebook"></i></a>
                    <a href="#" class=" me-2"><i class="fab fa-twitter"></i></a>
                    <a href="#" class=""><i class="fab fa-linkedin"></i></a>
                </div>
            </div>
        </div>
        <hr class="">
        <p class="mb-0">&copy; 2025 EfficaTech. All rights reserved.</p>
    </div>
</footer>

