<!-- home intro -->
<div class="home-intro video-container pb-0" id="home" >
    <video autoplay muted loop playsinline>
        <source src="assets/videos/home.mp4" type="video/mp4">
        Your browser does not support the video tag.
    </video>
    <div class="container">
      <div class="row mt-5">
        <div class="col col-sm-12 col-md-10 offset-md-1 col-12">
          <div class="content">
            <h5>We are Trusted</h5>
            <h2>EXPERT Professionals</h2>
            <h6>We do it with all our heart and we are happy to help you increase your business and Convertion rate</h6>
            <a href="" class="button button-intro hbtn hb-fill-right">Contact us</a>
          </div>
        </div>
      </div>
      <div class="home-extention mb-0">
        <span>
        <div class="web-photo">
            <img src="assets/img/image.png" alt="">
        </div>
        <!-- l b -->
        <div class="rt-photo" [class.show]="isVisible">
             <img src="assets/img/download (2).png" alt="">
        </div>
        <!-- l b -->
        <div class="lt-photo" [class.show]="isVisible">
            <img src="assets/img/download.jfif" alt="">
        </div>
    </span>
      </div>
     
    </div>
    </div>
   
      <button class="contact-btn">
        <i class="fas fa-comments"></i>
        Let's Chat!
      </button>
    
  
