<!-- our work -->
<div class="our-work video-container" id="work">
    <video autoplay muted loop playsinline>
    <source src="assets/videos/file3.mp4" type="video/mp4">
    Your browser does not support the video tag.
</video>
    <div class="container d-flex justify-content-center">
        <div class="title-section">
            <h3>Clients <span>Trusted</span> Us</h3>
            <p>Our diverse portfolio spans across industries, showcasing our ability to handle various projects while maintaining the highest standards of excellence and creativity.</p>
        </div>
    </div>

    <!-- Bootstrap Carousel -->
    <div id="workCarousel" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="assets/img/etmana.png" class="d-block w-100" alt="Etmana Project">
                <div class="carousel-caption">
                    <h5>Product Management & Scrum</h5>
                    <p>EfficaTech partnered with Etmana.com, a top online fashion marketplace...</p>
                </div>
            </div>
            <div class="carousel-item">
                <img src="assets/img/birdApp.png" class="d-block w-100" alt="Bird App">
                <div class="carousel-caption">
                    <h5>Bird: Fast & User-Friendly Delivery App 🛫📦</h5>
                    <p>🚀 Speed: Place delivery requests quickly and effortlessly...</p>
                </div>
            </div>
            <div class="carousel-item">
                <img src="assets/img/wdnl.png" class="d-block w-100" alt="Recruiting Website">
                <div class="carousel-caption">
                    <h5>Multi-languages Recruiting Website</h5>
                    <p>This Figma design was brought to life with our developer.</p>
                </div>
            </div>
            <div class="carousel-item">
                <img src="assets/img/yallabeena.png" class="d-block w-100" alt="Yalla Beena">
                <div class="carousel-caption">
                    <h5>Yalla Beena (Ecommerce Website) - Figma to HTML</h5>
                    <p>Transfer Figma design to a live website.</p>
                </div>
            </div>
        </div>

        <!-- Carousel Controls -->
        <button class="carousel-control-prev" type="button" data-bs-target="#workCarousel" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#workCarousel" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>
<!-- end our work -->
