<!-- services -->
<div class="services section bg-grey" id="services">
    <div class="container p-5">
        <div class="title-section ">
            <h3>Technology Service</h3>
            <p>At EfficaTech, we offer a comprehensive range of services designed to meet the
                 unique needs of every client. From innovative UI/UX designs to advanced machine
                  learning solutions, we bring your vision to life with precision. Our team works
                   tirelessly to ensure the highest quality standards, optimizing workflows,
                    and delivering results that exceed expectations.
                     Whether you’re a startup or a large enterprise,
                     our tailored approach guarantees impactful,
                      future-proof digital solutions for your business.</p>
        </div>
        
    </div>
    <div class="column">
        <div class="col services-bg" >
            <div class="content" #contentBlock>
                <span>
                    <img class="img1" src="assets/img/girl.png" style="left: 12rem;" alt="">
                </span>
                <span>
                    <img class="img2" src="assets/img/girlup.png" alt="">
                </span>
            </div>
            <div class="container ">
                <div style=" margin-left: 34%;">
                    <h5>Project Management</h5>
                <p class="mb-0">Managing projects with precision,
                     ensuring seamless coordination, timely delivery,
                      and alignment with your business goals.
                </p>
                <p>
                    We understand the importance of a smart budgeting system,
                     which is why Effica provides you with the tools to
                     allocate resources wisely and maximize your online impact.
                </p>
                </div>
            </div>
        </div>
        <div class="col services-bg ">
            <div class="container" >
                <div style="margin-right: auto;width: 88%;">
                <h5 style="width: 77%;">UI/UX Design</h5>
                <p class="mb-0" style="width: 88%;">Creating visually striking graphics 
                    and branding materials that leave a lasting impression,
                     reflecting your brand identity and vision.</p>
                <div>
                    <p><img src="assets/img/image (5).png" alt="">Performance-driven Approach</p>
                    <p><img src="assets/img/image (5).png" alt="">Dynamic Resource Management</p>
                </div>
                </div>
            </div>
            <div class="content content-center" #contentBlock>
                    <img class="img1" src="assets/img/second.png" style="right:7rem;" alt="">
                    <img class="img2" src="assets/img/man.png" style="left: -20rem;" alt="">
            </div>
        </div>
        <div class="col services-bg">
            <div class="content" #contentBlock style="min-height: 380px;">
                <img class="img1" src="assets/img/social.png" alt="" style="left: 22rem;">
                <img class="img2" src="assets/img/bar.png" alt="" style="top: 55px;left: -50px;">
            </div>
            <div class="container">
                <div style=" margin-left: 30%; width: 65%;">
                <h5 style="width: 83%;">Web Development</h5>
                <p class="mb-0">Building responsive, dynamic websites that offer seamless user
                experiences and drive business growth.
                </p>
                <span>
                    <img  src="assets/img/image (5).png" alt=""><p>Performance-driven Approach</p>
                    <img  src="assets/img/image (5).png" alt=""><p>Dynamic Resource Management</p>
                </span>
                <span >
                    <img  src="assets/img/image (5).png" alt=""><p>Performance-driven Approach</p>
                    <img  src="assets/img/image (5).png" alt=""><p>Dynamic Resource Management</p>
                </span>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end services -->
